.owl-carousel{
	height: 400px;
	overflow: hidden;
}
.icons{
	width: 140px;
	height: 140px;
	display: block;
	margin-left: 0px;
	margin-bottom: 20px;	
}
.icon-a{
	background-image: url(../img/icon_a.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.icon-a:hover{
	background-image: url(../img/icon_a.png);
	background-repeat: no-repeat;
	background-position: 0px -145px;
}
.icon-b{
	background-image: url(../img/icon_b.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.icon-b:hover{
	background-image: url(../img/icon_b.png);
	background-repeat: no-repeat;
	background-position: 0px -145px;
}
.icon-c{
	background-image: url(../img/icon_c.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.icon-c:hover{
	background-image: url(../img/icon_c.png);
	background-repeat: no-repeat;
	background-position: 0px -145px;
}
.test-menu li{
	margin-right: 40px;
}