@font-face {
    font-family: 'icons_services';
    src: url('test_ic-webfont.eot');
    src: url('test_ic-webfont.eot?#iefix') format('embedded-opentype'),
         url('test_ic-webfont.woff2') format('woff2'),
         url('test_ic-webfont.woff') format('woff'),
         url('test_ic-webfont.ttf') format('truetype'),
         url('test_ic-webfont.svg#icons_services') format('svg');
    font-weight: normal;
    font-style: normal;

}

.icons{
	font-family: 'icons_services';
	font-size: 120px;
	display: block;
	margin-left: -25px;
	font-style: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
 }
 .icon-a::before{
	content: 'a';
 }
 .icon-b::before{
	content: 'b';
 }
 .icon-c::before{
	content: 'c';
 }