@mixin transform($rotate){
	-moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    -webkit-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    transform: rotate($rotate);
}

@mixin box-sizing{
	box-sizing: border-box;
	-moz-box-sizing: border-box;    
    -webkit-box-sizing: border-box;
}

@mixin border-radius($num){
	border-radius: $num;
	-moz-border-radius: $num;
	-webkit-border-radius: $num;
}

@mixin transition($tr){
	transition: $tr;
	transition-duration: $tr;
	-webkit-transition-duration: $tr;
	-o-transition-duration: $tr;
	-moz-transition-duration: $tr;
}

@mixin box-sdadow($n1, $n2, $n3, $n4, $opac){
	box-shadow: $n1 $n2 $n3 $n4 rgba(0,0,0,$opac);
	-moz-box-shadow: $n1 $n2 $n3 $n4 rgba(0,0,0,$opac);
	-webkit-box-shadow: $n1 $n2 $n3 $n4 rgba(0,0,0,$opac);
}
